@import "typography";
@import "icons";

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  font-size: 1em;
}

header {
  background-color: $byui-blue;
  color: $light-gray;
  margin-bottom: 30px;
}

// Site banner styles
.site-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  h1 {
    display: none;
  }

  form {
    display: none;
  }
}

.icon-byui-logo,
.mobile-header-icon {
  color: $light-gray;
  font-size: 2em;
}

.site-banner__left,
.site-banner__right {
  display: flex;

  a {
    text-decoration: none;
  }
}

.site-banner__left {
  justify-content: flex-start;
  align-items: center;
  background-color: $body-font;
  padding: 20px 20px 20px 15px;
  width: 5.5em;
}

.site-banner__right {
  justify-content: flex-end;

  a {
    padding: 0 5px;
  }
}

.site-banner__bottom {
  background-color: $light-gray;
  color: $body-font;
  text-align: right;
  padding: 15px 20px;
  font-size: 1.1em;
  grid-column: 1 / span 2;
  border-bottom: 1px solid $body-font;
}

.site-content {
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: auto;
  margin: 10px;
}

.site-content__images {
  // display: grid;
  // // grid-template-rows: 1fr;
  // justify-content: center;

  display: block;
  margin: 0 5% 5%;

  a {
    text-decoration: none;
    color: $link-blue;
    padding-bottom: 30px;
  }
}

.site-content__images-small {
  display: grid;
  margin-top: 20px;
  figure {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    max-width: 25em;
    margin: 0 auto;

    figcaption {
      background-color: #ffffff;
      padding: 10px;
      display: flex;
      justify-content: space-between;

      &::after {
        content: "\276F";
        padding-right: 10px;
      }
    }
  }
}

// Info-accord styles
.info-accord {
  margin-bottom: 30px;
}

details {
  overflow: hidden;
  margin-top: 0.125em;
  border: 1px solid $body-font;
  background: #ffffff;
  color: $body-font;
  border-radius: 3px;

  summary {
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0.4em;
    background: $light-gray;
    outline: none;
  }

  p {
    padding: 10px;
    font-size: 1.1em;
    color: $link-blue;

    a {
      text-decoration: none;
    }
  }
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "\276F";
}

details[open] summary {
  border: none;
}

details[open] summary::after {
  transform: rotate(90deg);
}

// Resources styles
.resources {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  border: 1px solid $med-gray;
  font-size: 1em;
  border-radius: 3px;
  margin-bottom: 30px;

  h3 {
    background-color: $light-gray;
    color: $body-font;
    padding: 12px;
    font-size: 1.1em;
  }

  p {
    padding: 12px;

    a {
      text-decoration: none;
      color: $link-blue;
    }
  }
}

// date
.dates p a::before {
  content: " ";
  margin-left: 50px;
}

// Speaker
.speaker {
  margin-bottom: 30px;

  h3 {
    border: 1px solid $med-gray;
    // border-top-left-radius: 4px;
    // border-top-right-radius: 4px;
    background-color: $light-gray;
    font-weight: 600;
    margin: 0;
    padding: 12px;
  }
  .msg-uni {
    border-left: 1px solid $med-gray;
    border-right: 1px solid $med-gray;
    border-bottom: 1px solid $med-gray;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 7px;
    img {
      width: 100%;
    }
  }
}

// Article/Newroom
article {
  padding-bottom: 30px;

  h2 {
    font-size: 1.7em;
    padding-bottom: 10px;
  }

  h4 {
    font-size: 1.2em;
    padding: 10px 0;

    a {
      text-decoration: none;
      color: $link-blue;
    }
  }
}

.newsroom__list p small strong {
  font-size: 0.8em;
}

@media screen and (min-width: $sm-break) {
  .site-banner {
    grid-template-columns: repeat(3, 1fr);

    form {
      display: contents;

      div {
        margin-right: 10px;
        grid-column: 2 / span 3;
        grid-row: 1;

        input {
          padding: 10px;
          border-radius: 5px 0 0 5px;
          border: none;
          color: $dark-gray;
        }

        button {
          padding: 10px;
          // border-radius: 5px;
          border: none;
        }
      }
    }
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
  }
  .icon-magnifying-glass,
  .btn-sub,
  .btn-sign {
    color: white;
  }

  .icon-magnifying-glass {
    background-color: #68ad44;
    border-radius: 0 5px 5px 0;
  }

  .btn-sub {
    background-color: #dc6926;
    border-radius: 5px;
    margin: 0 10px;
  }

  .btn-sign {
    background-color: $body-font;
    border-radius: 5px;
    margin-right: 10px;
  }

  .site-banner__left {
    display: flex;
    justify-content: space-between;
    background-color: $byui-blue;
    width: 11em;

    a {
      padding-right: 15px;
      border-right: 1px solid white;
    }

    h1 {
      display: contents;
      font-size: 1.5em;
    }
  }

  .site-banner__bottom {
    display: none;
  }

  .mobile-header-icon {
    display: none;
  }

  .site-content {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
  }

  .site-content__images {
    // grid-template-rows: 1fr 1fr;
    // grid-column: 2;
    grid-column: 1 / span 2;

    img {
      width: 100%;
    }

    a:nth-child(1) {
      grid-column: 1 / span 3;
    }

    a {
      padding: 0;
    }

    figure {
      max-width: 10em;
      justify-content: flex-start;
    }
  }

  .site-content__images-small {
    display: flex;
    justify-content: space-between;
  }

  .aside-container {
    grid-column: 3;
  }

  .resources {
    grid-column: 3;
  }

  article {
    grid-column: 1 / span 2;
    max-width: 80%;
    margin: 0 auto;
  }
}

.footer-graphic::before {
  background: url(http://www.byui.edu/prebuilt/stylenew/images/foot/taylor_graphic.gif)
    bottom no-repeat;
  content: "";
  display: block;
  height: 146px;
  padding: 0;
}
